body {
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1C0A00;
}

.menu {
    width: 15%;
    padding: 20px;
    background-color: #361500; /* Cor de fundo do menu */
    height: 100%;
    border-bottom: 40px solid  #361500;
}

.conteudo {
    width: 65%; /* Largura da coluna de conteúdo (tabela) */
    text-align: center;
    overflow: hidden;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto; /* Centraliza a tabela horizontalmente na coluna de conteúdo */
}

table, th, td {
    border: 4px solid white;
}

.menu img{
    position: absolute;
    
}

.seta-diagonal-direita{
    width: 175px;
    left: 80px;
    bottom: 460px;
}

.seta-diagonal-esquerda{
    width: 175px;
    left: -14px;
    bottom: 460px;
}

.seta-direita{
    width: 65px;
    bottom: 400px;
    left: 135px;
}

.seta-esquerda{
    width: 65px;
    bottom: 400px;
    left: 43px;
}

.seta-cima{
    width: 65px;
    bottom: 310px;
    left: 43px;
}

.seta-baixo{
    width: 65px;
    bottom: 310px;
    left: 135px;
}

th, td {
    padding: 33px;
    background-color: #CC9544;
}

.menu h3{
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    padding: 20px;
    position: relative;
    top: 8px;
    left: 17px;
}

.lobo{
    width: 140px;
    bottom: 150px;
    left: 50px;
}

.grama{
    width: 330px;
    bottom: -50px;
    left: -43px;
    position: fixed;
}

.menu-direito{
    width: 15%;
    height: 100%;
    padding: 20px;
}

.menu-direito img{
    position: absolute;
}

.porco-vermelho{
    width: 190px;
    top: 70px;
    right: 0px;
}

.porco-azul{
    width: 190px;
    top: 70px;
    right: 100px;
}

.porco-verde{
    width: 190px;
    top: 180px;
    right: 40px;
    border-bottom: 4px solid white;
}

.imagens-casas{
    position: absolute;
}

.casa-tijolo{
    width: 90px;
    top: 320px;
    left: 35px;
}

.casa-madeira{
    width: 90px;
    top: 430px;
    left: 100px;
}

.casa-palha{
    width: 120px;
    top: 440px;
    left: -27px;
}

.prg{
    position: fixed;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    bottom: 4px;
    right: 10px;
}